body {
    background-color: #676279;

    background-image: -webkit-repeating-radial-gradient(center center, rgba(6, 58, 83, 0.1), rgba(6, 58, 83, 0.1) 1px, transparent 1px, transparent 100%);
    background-size: 22px 22px;
}

.main-text {
    font-size: 3em;
    font-weight: bolder;
    color: #ffffff;
}

.custom-card {
    background-color: #2B2738 !important;
}

.price_clean {
     color: #00df00;
}

.price_add {
     color: #ffae00;
}

#price_whole {
    color: #00df00;
}